
.container {
    background-color: #3d3d3d;
    background-image: url("image/greathall_12.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
}

article {
    font-family: 'Nanum Gothic Coding', monospace;
    margin: 0 auto;
    display : flex;
    flex-direction : column;
}

.Top_subtt {
    font-family: 'Yeon Sung', cursive;
    color: white;
    font-size: 150%;
}

.question {
    display: none;
}

.result {
    display: none;
}

#img {
    width: 250px;
    margin: 0 auto;
}

.btn-answer, .btn-answer:visited, .btn-answer:hover, .btn-answer:active, .btn-answer:focus {
    font-family: "Noto Sans KR";
    font-size: 85%;
    background-color: #3d3d3d;
    border-color: #3d3d3d;
    width: 280px;
    height: 100px;
    margin: 0 auto;
    color: #ffffff;
}

.reload_btn {
    font-family: "Noto Sans KR";
    width: 150px;
    border-radius: 20px;
    margin: 0 auto;
}

@media (hover: hover) {
    .btn-answer:hover {
        font-family: "Noto Sans KR";
        font-size: 85%;
        background-color: #ff9300 !important;
        border-color: #ff9300 !important;
        width: 280px;
        height: 100px;
        margin: 0 auto;
        color: #ffffff;
    }
}



.mid-rectangle {
    fill: transparent;
    width: 280px;
    height: 3px;
    margin: 0 auto;
}

.share {
    margin: 0 auto;
}

.kakao_ad {
    width: 320px;
    margin: 0 auto;
}

.hat_pic {
    width: 300px;
    margin: 0 auto;
}

.start_info {
    color: white;
}

#title {
    width: 80%;
    font-family: "Noto Sans KR";
    font-size: 100%;
    color: white;
    margin: 0 auto;
}

.main_logo_end {
    width: 210px;
    height: 70px;
    margin: 0 auto;
}

#dorm {
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

.exp_container {
    width: 100%;
    border-radius: 10px;
    background-color: black;
    margin: 0 auto;
}

#p_type {
    /* font-family: 'Yeon Sung', cursive; */
    font-family: "Noto Sans KR";
    font-size: 1.3em;
    color: white;
}

#explain {
    /* font-family: 'Yeon Sung', cursive; */
    font-family: "Noto Sans KR";
    font-size: 1em;
    color: white;
}

.container-explain {
    margin: 0 auto;
    width: 80%;
}


#dorm_explain {
    /* font-family: 'Yeon Sung', cursive; */
    font-family: "Noto Sans KR";
    font-size: 1em;
    color: white;
}

.container-dorm_explain {
    margin: 0 auto;
    width: 80%;
}

.container-character {
    margin: 0 auto;
    width: 80%;
}

#character {
    font-family: "Noto Sans KR";
}

.character_img {
    margin: 0 auto;
    width: 270px;
    border-radius: 20px;
}

.progress-bar {
    background-color: #ff9359;
}

.bt_rect {
    width: 100%;
    height: 20px;
    margin: 0 auto;
}

.main_logo {
    width: 300px;
    height: 100px;
    margin: 0 auto;
}

.sub_logo {
    width: 250px;
    margin: 0 auto;
}

.goldframe_tp {
    width: 150px;
    margin: 0 auto;
}

.goldframe_bt {
    width: 150px;
    margin: 0 auto;
}

.dorm_explain {
    background-color: black;
    border-radius: 30px;
}

.design_dorm_what {
    font-family: "Noto Sans KR";
    font-size: 1em;
    color: white;   
    width: 300px;
}

.copyright-text {
    font-family: "Noto Sans KR";
    font-size: 12px;
    color: #8a8a8a;
}

.version-last {
    font-family: "Noto Sans KR";
    font-size: 14px;
    color: white;
}

.update-last {
    font-family: "Noto Sans KR";
    font-size: 14px;
    color: white;
}

.updaete-log {
    font-family: "Noto Sans KR";
    font-size: 18px;
    color: white; 
}


.update-version {
    margin: 0 auto;
}

.best_fit_character {
    font-family: "Noto Sans KR";
}