.navbar-brand {
    padding-left: 5%;
    font-family: 'Jua', sans-serif;
    font-size: 1.2em;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: white;
}

.nav-item {
    padding-left: 15%;
}

#navbarNav {
    font-size: 0.85em;
    font-family: 'Jua', sans-serif;
}

html {
    font-family: 'Jua', sans-serif;
    font-size: 1.4em;
}


@media screen and (max-width: 1024px) {
    html {
        font-size: 1.2em;
    }
    .mobile-info {
        display: none;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
    html {
        font-size: 0.9em;
    }
    .mobile-info {
        display: none;
    }
}

.bd-highlight {
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-log {
    width: 90vw;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 0.85em;
    font-family: 'Jua', sans-serif;
}

.log-title {
    font-size: 1.4em;
}

.log-list {
    font-size: 1em;
}

.profile-img {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    float: left;
    width: 100px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    width: 200px;
}

.update-log-btn {
    width: 90vw;
    border-radius: 10px;
    border-color: white;
    color: black;
    background-color: white;
    margin: 0 auto;
    font-size: 1em;
    font-family: 'Jua', sans-serif;
    text-decoration: none;
}